Flask==3.0.3
reportlab==4.2.2

# Google Drive Integration
pydrive2==1.19.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0

pyOpenSSL==23.2.0



